page-login {
    .login{
         background-color: #C2DBEF;

        .logo{
            margin-top: 10px;
            text-align: center;;
        }
        .conteudo{
            margin: 5%  auto;
            max-width: 400px;
        }

    }

}
