<ion-header>
  <ion-navbar color="padrao">
    <ion-title>
      Notas
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div style="text-align: center" *ngIf="!(notas | async).length">
    <ion-spinner></ion-spinner>
  </div>

  <ion-list *ngIf="(notas | async).length">
    <ion-item *ngFor="let nota of notas | async" (click)="disciplina(nota)">
      <h2>{{nota.nome}}</h2>
      <p>Data alteração: {{nota.alteracao}}</p>
    </ion-item>
  </ion-list>
</ion-content>
