<ion-header>
  <ion-navbar>
    <ion-title>Horários de Aula</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div style="text-align: center" *ngIf="!(horarios | async).length">
    <ion-spinner></ion-spinner>
  </div>

  <ion-grid no-padding *ngIf="(disciplinas | async).length">
    <ion-row>
      <ion-col><strong>Código</strong></ion-col>
      <ion-col width-50><strong>Nome</strong></ion-col>
      <ion-col><strong>Créditos</strong></ion-col>
      <ion-col><strong>Turma Prática</strong></ion-col>
      <ion-col><strong>Turma Teórica</strong></ion-col>
    </ion-row>
    <ion-row *ngFor="let d of disciplinas | async">
      <ion-col>{{d.codigo}}</ion-col>
      <ion-col width-50>{{d.nome}}</ion-col>
      <ion-col>{{d.creditos}}</ion-col>
      <ion-col>{{d.turma.pratica}}</ion-col>
      <ion-col>{{d.turma.teorica}}</ion-col>
    </ion-row>
  </ion-grid>

  <br>
  <hr>
  <br>

  <ion-grid no-padding *ngIf="(horarios | async).length">
    <ion-row>
      <ion-col><strong>Horário</strong></ion-col>
      <ion-col><strong>Segunda</strong></ion-col>
      <ion-col><strong>Terça</strong></ion-col>
      <ion-col><strong>Quarta</strong></ion-col>
      <ion-col><strong>Quinta</strong></ion-col>
      <ion-col><strong>Sexta</strong></ion-col>
      <ion-col><strong>Sábado</strong></ion-col>
    </ion-row>
    <ion-row *ngFor="let h of horarios | async"
             [hidden]="!h.segunda.sala && !h.terca.sala && !h.quarta.sala && !h.quinta.sala && !h.sexta.sala && !h.sabado.sala">
      <ion-col>
        <p><strong>{{h.hora}}</strong></p>
      </ion-col>
      <ion-col>
        <p><strong>{{h.segunda.codigo}}</strong></p>
        <p>{{h.segunda.sala}}</p>
      </ion-col>
      <ion-col>
        <p><strong>{{h.terca.codigo}}</strong></p>
        <p>{{h.terca.sala}}</p>
      </ion-col>
      <ion-col>
        <p><strong>{{h.quarta.codigo}}</strong></p>
        <p>{{h.quarta.sala}}</p>
      </ion-col>
      <ion-col>
        <p><strong>{{h.quinta.codigo}}</strong></p>
        <p>{{h.quinta.sala}}</p>
      </ion-col>
      <ion-col>
        <p><strong>{{h.sexta.codigo}}</strong></p>
        <p>{{h.sexta.sala}}</p>
      </ion-col>
      <ion-col>
        <p><strong>{{h.sabado.codigo}}</strong></p>
        <p>{{h.sabado.sala}}</p>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
